<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= user.username %>'s Watchlist | MovieHub</title>
    <link rel="stylesheet" href="/watchlist.css">
    <link rel="stylesheet" href="/header.css">
</head>

<body>    
    <%- include("partials/header") %>

    <div class="back-row">
        <a href="javascript:history.back()" class="back-btn">← Back</a>
    </div>

    <div class="page-content">
        
        <% if (watchlistMovies.length === 0) { %>
            <p class="empty">
            Your watchlist is empty.  
            Let's add some <a href="/movies">movies</a>!
            </p>
        <% } else { %>
            <table>
                <% for (let i = 0; i < watchlistMovies.length; i += 5) { %>
                    <tr>
                        <% let cellsInRow = 0; %>

                        <% for (let j = i; j < i + 5 && j < watchlistMovies.length; j++) { %>
                            <td>
                                <a href="/details?id=<%= watchlistMovies[j].movieId %>">
                                    <img src="https://image.tmdb.org/t/p/w500<%= watchlistMovies[j].posterPath %>" 
                                         alt="<%= watchlistMovies[j].movieTitle %>">
                                </a>

                                <div class="movie-title">
                                    <a href="/details?id=<%= watchlistMovies[j].movieId %>">
                                        <%= watchlistMovies[j].movieTitle %>
                                    </a> <br>
                                    Added on: <%= (watchlistMovies[j].addedAt).toLocaleDateString("en-GB") %>
                                </div>
                            </td>
                            <% cellsInRow++; %>
                        <% } %>

                        <% for (let k = cellsInRow; k < 5; k++) { %>
                            <td class="empty-cell"></td>
                        <% } %>
                    </tr>
                <% } %>
            </table>
        <% } %>
    </div>
</body>
</html>